[submodule "resources/depthai_boards"]
	path = resources/depthai_boards
	url = https://github.com/kneave/depthai-boards

[submodule "depthai_calibration"]
	path = depthai_calibration
	url = https://github.com/kneave/depthai-calibration